<!DOCTYPE html>
<html>

<head>
    <title>Life Quality Scores</title>
</head>

<body>
    <h1>Life Quality Scores Comparison</h1>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>
                    <%= firstCity %>
                </th>
                <th>
                    <%= secondCity %>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (const category of firstCityScores) { %>
                <tr>
                    <td>
                        <%= category.name %>
                    </td>
                    <td>
                        <%= category.score_out_of_10.toFixed(2) %>
                    </td>
                    <% const matchingCategory=secondCityScores.find(c=> c.name === category.name); %>
                        <% if (matchingCategory) { %>
                            <td>
                                <%= matchingCategory.score_out_of_10.toFixed(2) %>
                            </td>
                            <% } else { %>
                                <td>N/A</td>
                                <% } %>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>